.iBtn {
	outline : none !important;

	&:hover {
		opacity : 0.7;
		cursor  : pointer;
	}
}

html, body, #root, .App {
	height     : calc(100vh - 20px);
	max-height : calc(100vh - 20px);
	overflow   : auto;
}

:root {
	--ui-color : var(--text-secondary-color);
	--bg-color : var(--primary-color-text);
}

* {

	box-shadow : none !important;
	outline    : unset !important;
}
