.iBtn {
	outline : none !important;

	&:hover {
		opacity : 0.7;
		cursor  : pointer;
	}
}

.logo {
	background-size : 75% auto !important;
	width           : 40px;
	height          : 40px;
	margin-right    : 5px;
}

html, body, #root, .App {
	background : var(--primary-color-text);
}

.wrapper {
	height   : calc(100vh - 20px);
	overflow : auto;
}

.p-sidebar {
	background : var(--primary-color);
}

* {
	box-shadow : none !important;
	outline    : unset !important;
}

.SettingInput {
	display               : grid;
	grid-template-columns : minmax(100px, 0.1fr) 230px;
	grid-template-rows    : 1fr;
	gap                   : 0;
	grid-template-areas   :
    ". .";

	* {
		max-width : 100%;
	}

	&.SettingInput-text {
		.p-inputtext {
			width : 100%
		}
	}

	&.SettingInput-color {
		.p-colorpicke {
			width : 32px
		}

		.p-inputtext:not(.p-colorpicker-preview) {
			width : calc(100% - 32px)
		}
	}
}
