.Config {
	.header {
		display         : flex;
		align-items     : flex-start;
		flex-direction  : column;
		align-content   : center;
		justify-content : flex-start;

		.name {
			font-weight : 600;
			width       : 100%;
		}

		.description {
			max-width : 500px;
			overflow  : hidden;
			opacity   : 0.8;
			height    : 1em;
			font-size : 0.65em;
		}
	}

	.grid-table {
		display               : grid;
		grid-template-columns : minmax(150px, 220px) 1fr;
		grid-template-rows    : 1fr;
		gap                   : 3px 3px;
		grid-template-areas   :
    ". .";

		.value-column {
			width : 100%;

			#env-editor {
				width : 100% !important;;
			}
		}
	}
}
