.ProgramItem {
	cursor: pointer;
	background-color: var(--primary-color-text);
	border-radius: 15px;

	&:hover {
		border-radius: 20px;
	}

	.item {
		> div {
			display: flex;
			height: 40px;
			flex-wrap: nowrap;
			align-content: center;
			align-items: center;
			justify-content: flex-start;
			flex-direction: row;

			.logo {
				border-radius: 50%;
				width: 40px;
				margin-right: 5px;
			}

			.info {
				width: calc(90% - 15px);
				display: flex;
				align-content: flex-start;
				flex-wrap: nowrap;
				flex-direction: column;
				align-items: stretch;
				justify-content: center;

				.name {
					overflow: hidden;
					white-space: nowrap;
					text-overflow: clip;
					line-height: 1.3em;
					margin-bottom: 5px;
				}
			}
		}
	}
}
