.ProgramEditor {
	padding          : 5px;
	background-color : var(--primary-color-text);

	li {
		padding-bottom : 10px;
	}
	table {
		border-collapse : separate;
		border-spacing  : 0 5px;

		.name-column {
			width     : 30%;
			min-width : 150px;
		}

		.value-column {
			width : 500px;

			.p-input-icon-right,button {
				width : calc(100% );
			}
			.p-inputgroup{
				width : 100%;
			}

			&.logos-buttons {
				width           : calc(100% - 35px);
				display         : flex;
				justify-content : space-between;
				align-items     : stretch;
				align-content   : center;
				flex-direction  : row;
				flex-wrap       : nowrap;
			}
		}
	}
}
