.ProgramEditor {
	padding          : 5px;
	background-color : var(--primary-color-text);

	.header {
		align-items     : stretch;
		flex-direction  : column;
		align-content   : center;
		justify-content : flex-start;
		flex-wrap       : nowrap;

		.name {
			font-weight : 600;
			width       : 100%;
		}

		.description {
			overflow  : hidden;
			opacity   : 0.8;
			height    : 2em;
		}
	}

	li {
		padding-bottom : 10px;
	}

	.grid-table {
		display               : grid;
		grid-template-columns : minmax(150px, 220px) 1fr;
		grid-template-rows    : 1fr;
		gap                   : 3px 3px;
		grid-template-areas   :
    ". .";

		.value-column {
			width : 100%;

			#command-editor {
				width : 100% !important;
			}
		}
	}
}
